Content/ExternalContent
Content/StarterContent

Content/LowPoly_Cat
Content/ModernCityEnvironment01
Content/ModularBuildingSet

Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/TrainCasesBP/FearOfHeights/Maps/BaseMap_FOH_BuiltData.uasset